body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; /* 背景画像を中央に配置 */
    margin: 0;
    height: 100vh; /* ビューポートの高さを100%に設定 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* コンテンツを上下中央に配置 */
    align-items: center; /* コンテンツを左右中央に配置 */
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px; /* コンテンツとコピーライトの間にスペースを確保 */
}

h1 {
    margin-bottom: 20px;
}

.links a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background: linear-gradient(45deg, rgb(0, 255, 242), rgb(0, 4, 255));
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #ffcccb;
    color: #000000;  /* 文字色を黒に変更 */
}

/* コピーライトのスタイル */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff; /* 文字色を白に設定 */
    background-color: rgba(0, 0, 0, 0.5); /* 背景を薄い黒に */
    padding: 10px;
    border-radius: 5px;
}
